### The test is applied when we have to categorical features present in the population dataset. We are determining wether there is any relationship between 2 categorical features/variables

In [1]:
# this library help us to calculate the P-value , and doing t-test
from scipy.stats import stats

In [2]:
import  numpy as np
import pandas as pd
import seaborn as sns

In [3]:
# laod the dataset
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

### Observations : 
1. we have a 4 categorical variables here

### for chi- square test following are the steps : 
#### <font color='red'>step 1) Pickup the categorical columns</font>
#### <font color='red'>step 2) Define Null & Alternate hypothesis</font>
#### <font color='red'>step 3) State p_Value i.e alpha</font>
#### <font color='red'>step 4) Calculate degrees of freedom</font>
#### <font color='red'>step 5) State decision rule</font>
#### <font color='red'>step 6) Calculate test statistics</font>
#### <font color='red'>step 7) State Result</font>
#### <font color='red'>step 8) State Conclusion</font>

#### step1 ) Pickup the 2 cateogories

we are now considering only 2 variables i.e smoker and sex

In [5]:
df_table = pd.crosstab(index = df['sex'] , columns = df['smoker'])
df_table

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [6]:
# as these are the dataset values so we call it as observed values
observed_values = df_table.values
observed_values

array([[60, 97],
       [33, 54]], dtype=int64)

In [7]:
from scipy.stats import chi2_contingency

In [8]:
exp_values = chi2_contingency(df_table)

In [9]:
exp_values = exp_values[3]

### So above are the expected and observed values

#### step 2) Define Null and alternate hypothesis

H0 = there is not a relationship between 2 categorical values

H1 = there is a relationship between 2 cateogical values

#### Step 3) State alpha value

In [10]:
alpha = 0.05

#### Step 4) Calculate degrees of freedom

formula : 
df = (rows - 1)(columns - 1)

In [11]:
no_of_rows = len(df_table.iloc[0:2 , 0])
no_of_col = len(df_table.iloc[0 , 0:2])

In [12]:
dof = ( no_of_rows - 1 )*(no_of_col - 1)

In [13]:
print("degrees of freedom : ",dof)

degrees of freedom :  1

#### step 4) State Decision rule 
#### As here degrees of freedom is 1 , and aplha value = 0.05 , So from degrees of freedom table value will be 3.8416
#### if X^2 value is > 3.8614 , then will simply reject null hypothesis

####  Step 5) Define Chi - square test formula and calculate test statistics

<img src="https://www.gstatic.com/education/formulas2/355397047/en/chi_squared_test.svg">

where

O = observed values 

E = expected values

In [14]:
chi_sq = sum([(o - e)**2./e for o,e in zip(observed_values , exp_values)])
chi_sq

array([0.00119737, 0.00073745])

In [15]:
chi_sq_statistics = chi_sq[0] + chi_sq[1]

In [16]:
chi_sq_statistics

0.001934818536627623

In [17]:
from scipy.stats import chi2
critical_Value = chi2.ppf(q = 1 - alpha , df = dof)
critical_Value

3.841458820694124

In [18]:
if chi_sq_statistics >= critical_Value:
    print("we are rejecting H0 , there is not a relationship between 2 categorical variables")
else : 
    print("we are accepting H1 , there is a relationship between 2 categorical variables")

we are accepting H1 , there is a relationship between 2 categorical variables

## from this we can do feature selection also , So it is very important