## Python comments

In [23]:
# Single line comment

In [31]:
"""
Mulitline Comment
Here
"""
print("world")

world

In [33]:
'''
Mulitline Comment
Here
'''
print("Hello")

Hello

## Python arithmatic operations

In [2]:
1+1

2

In [3]:
2*50

100

In [17]:
# divide operation returns floating value 
4/2

2.0

In [7]:
10%2

0

In [9]:
2**3

8

In [16]:
# string and int mulitplication
"hello  " * 10

'hello  hello  hello  hello  hello  hello  hello  hello  hello  hello  '

## Type checking

In [20]:
type(2)

int

In [21]:
type(3.4)

float

In [22]:
type("hello")

str

## Strings

In [ ]:
# Strings can be written in double or single quotes but prefer double qoutes

In [35]:
a = "Python Fun"

In [36]:
type(a)

str

In [37]:
type('Python basics')

str

## Variable initialization

In [39]:
a = 10

b = 20

In [40]:
C = "school"
type(C)

str

In [41]:
print(a+b)

30

In [42]:
print(a*b)

200

In [43]:
print(a/b)

0.5

In [44]:
print(a%b)

10

In [45]:
print((a*b)+(a/b))  # it follows BODMAS rule (BODMAS : bracket > of > Division > Multiplication > Addition > Substraction)

200.5

## Various Ways of printing

In [46]:
print("hello")

hello

In [47]:
first_name = "Machine"
last_name = "Learning"

print("here first name is {} and last name is {}".format(first_name , last_name))

here first name is Machine and last name is Learning

In [49]:
first_name = "Machine"
last_name = "Learning"

print("here first name is {} and last name is {}".format( last_name , first_name ))

here first name is Learning and last name is Machine

In [48]:
# As ordering is important so we can give it a try like this
first_name = "Machine"
last_name = "Learning"

print("here first name is {f} and last name is {l}".format(f = first_name ,l =  last_name))

here first name is Machine and last name is Learning

In [50]:
# As ordering is important so we can give it a try like this
first_name = "Machine"
last_name = "Learning"

print("here first name is {f} and last name is {l}".format(l =  last_name ,  f = first_name ))

here first name is Machine and last name is Learning

### Keyword

In [2]:
import keyword

In [8]:
def add():
    a = 20
    b = 10 
    c = a+b
    print(c)

In [11]:
a = 10 
b = "send"
id(a)

140706752899136

In [12]:
id(b)

2302383598128

In [18]:
def num_check(num):
    if num > 0:
        print("Number is greater than 0")
    elif num == 0:
        print("Number is eqaul to 0")
    else:
        print("Number is less than 0")
    print("Always printed")

In [19]:
num_check(-1)

Number is less than 0
Always printed