# Standardization 
- in this technique we are simply <b>converting any distribution data to "standard normal distribution" where mean = 0 and std.dev =1 </b>

In [4]:
import pandas as pd

data =  pd.read_csv("wine.csv",header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,2482,2483,2484,2485,2486,2487,2488,2489,2490,2491
0,"{""0"":{""0"":1",1:1,2:1,3:1,4:1,5:1,6:1,7:1,8:1,9:1,...,168:750,169:630,170:510,171:470,172:660,173:740,174:750,175:835,176:840,177:560}}