## Boolean Variables

In [1]:
bool() # by default the value is false

False

In [2]:
type(bool())

bool

In [3]:
type(True)

bool

In [4]:
type(False)

bool

### Different boolean functions

In [5]:
name = "Machinelearning"
a = "52"

In [6]:
print(name.isalnum()) # Return True if the string is an alpha-numeric string, False -> if at least one character is not alphanumeric. string should contain either alphabets or numbers
print(name.isalpha()) #Return True if the string is an alphabetic string, False otherwise.
print(name.isascii()) 
print(a.isdecimal()) #Return True if the string is a decimal string, False -> if at least one character is not decimal(digit).
print(a.isdigit())
print(name.isidentifier())
print(name.istitle()) # Checks first alphabet is in capital or not , return true if in capital , false Otherwise
print(name.isupper())

True
True
True
True
True
True
True
False

## Boolean Variables and operations

In [7]:
True and False

False

In [8]:
True and True

True

In [9]:
False or True

True

In [10]:
True or True

True

In [11]:
False or False

False

In [12]:
str1 = "hello"
str2 = "world"
print(str1.isalpha() and str2.isnumeric())

False

# List

- List is mutable(changable) datatype in python
- It contain elements , called as items
- It is defined or initilized using Square bracket

#### Below are the ways to init. list

In [13]:
lst = []

In [14]:
lst = list()

In [15]:
type(lst)

list

In [16]:
lst = ["Transfer", "Learning" , 24 , 56, 78]
print(lst)
len(lst)

['Transfer', 'Learning', 24, 56, 78]

5

In [17]:
ex = list(["Transfer", "Learning" , 24 , 56, 78])
ex

['Transfer', 'Learning', 24, 56, 78]

In [18]:
ex = list([["Transfer", "Learning" , 24 , 56, 78] , ["machine", "Learning" , 24 , 56]])
ex

[['Transfer', 'Learning', 24, 56, 78], ['machine', 'Learning', 24, 56]]

## Indexing in List

In [19]:
# list indexing starts from 0
print(lst)
lst[4]

['Transfer', 'Learning', 24, 56, 78]

78

In [20]:
lst[1]

'Learning'

In [21]:
print(ex)
ex[1][3]

[['Transfer', 'Learning', 24, 56, 78], ['machine', 'Learning', 24, 56]]

56

In [22]:
lst

['Transfer', 'Learning', 24, 56, 78]

In [23]:
lst[1:4]  # 1 : 4  it takes 1 to n-1 items in list() in this case)

['Learning', 24, 56]

In [24]:
lst[3:3]

[]

In [25]:
lst[3:4]

[56]

In [26]:
lst[::-1]  # it prints list in reverse order

[78, 56, 24, 'Learning', 'Transfer']

In [27]:
lst[-1]  # -1 basically is a last item in a list

78

In [28]:
lst[:-1] # it prints all the items except last item(ie. -1th element)

['Transfer', 'Learning', 24, 56]

In [29]:
lst[: : -1]

[78, 56, 24, 'Learning', 'Transfer']

## Append

> function appends the items to end of the existing list

In [30]:
print("Original list :     ",lst)
lst.append("Hello") # function appends the items to end of the existing list
print("\nList After Appending :   ",lst)

Original list :      ['Transfer', 'Learning', 24, 56, 78]

List After Appending :    ['Transfer', 'Learning', 24, 56, 78, 'Hello']

In [31]:
# if we give list to append function , simply it appends entire list at the end of existing list 

print("origianl list :    ",lst)
lst.append(["john","row"])
print("after appending :    ",lst)

origianl list :     ['Transfer', 'Learning', 24, 56, 78, 'Hello']
after appending :     ['Transfer', 'Learning', 24, 56, 78, 'Hello', ['john', 'row']]

## Insert

In [32]:
lst
lst.insert(1 ,"laptop")
lst

['Transfer', 'laptop', 'Learning', 24, 56, 78, 'Hello', ['john', 'row']]

In [33]:
lst.insert(3 , [["one","two"] , "three"])
lst

['Transfer',
 'laptop',
 'Learning',
 [['one', 'two'], 'three'],
 24,
 56,
 78,
 'Hello',
 ['john', 'row']]

## extend

In [34]:
# extend simply put the new items or list of items to the end of existing list
lst = [1,2,3,4,55,6]
lst

[1, 2, 3, 4, 55, 6]

In [35]:
lst.extend([7 , 8])
lst

[1, 2, 3, 4, 55, 6, 7, 8]

## different variations while using list

In [36]:
lst = [1,2,3,4,5]
sum(lst)

15

## Pop

In [37]:
# Remove and return item at index (default : last item will be deleted).
lst
lst.pop()

5

In [38]:
lst.pop(1)
lst

[1, 3, 4]

## len

In [39]:
len(lst)

3

In [40]:
cp_lst = lst.copy()
cp_lst

[1, 3, 4]

In [41]:
# Return number of occurrences of value.
lst.count(3)

1

In [42]:
# Return first index of the given value.
sample = [1,3,5,1,6,3 , 6 , 3]
sample.index(3 , 0  , 5)

1

In [43]:
min(lst)

1

In [44]:
max(lst)

4

## Loop through items in list

In [45]:
cnt = 0
while cnt < len(lst):
    print(lst[cnt], end=' ')
    cnt = cnt + 1

1 3 4

## Loop through list items using range()

In [46]:
for i in range(len(ex)):
    print(ex[i]  , end = " \t ")

['Transfer', 'Learning', 24, 56, 78] 	 ['machine', 'Learning', 24, 56]

## Direct accesing the list item

In [47]:
for i in ex:
    print(i)

['Transfer', 'Learning', 24, 56, 78]
['machine', 'Learning', 24, 56]

## loop through list items using enumerator

> With enumerate() function, you can access both index and the item.

In [48]:
for index , value in enumerate(ex):
    print("element at index {} value is :  {} ".format(index , value))

element at index 0 value is :  ['Transfer', 'Learning', 24, 56, 78]
element at index 1 value is :  ['machine', 'Learning', 24, 56]

In [49]:
lst*2

[1, 3, 4, 1, 3, 4]

# >Set

- Set is unordered  , mutable and has not contain repeating elements
- Since sets are unordered, we cannot access items using indexes like we do in lists

In [50]:
s = {1,2,4,5,6,1}
print(type(s))
s

<class 'set'>

{1, 2, 4, 5, 6}

In [51]:
s1 = {"one","two","three" , 3,5,8,9}
print(type(s1))
s1

<class 'set'>

{3, 5, 8, 9, 'one', 'three', 'two'}

In [52]:
s.add(0)
s

{0, 1, 2, 4, 5, 6}

In [53]:
s_cp = s.copy()
print(s_cp)
print("len before clear : ",len(s_cp))
s_cp.clear()
print("len after clear : ",len(s_cp))

{0, 1, 2, 4, 5, 6}
len before clear :  6
len after clear :  0

In [54]:
s1_cp  = {3,4,5,6,7}
s2_cp = {3,4,5,7}

In [55]:
new_set  = s1_cp.difference(s2_cp) #Return the difference of two or more sets as a new set.
new_set

{6}

In [56]:
s1_cp.difference_update(s2_cp) #Remove all elements of another set from this set.
s1_cp

{6}

In [57]:
s.discard(1) # removes that element from set , if element is not found in that set , then it do nothing 
s

{0, 2, 4, 5, 6}

In [58]:
new_set = s1_cp.intersection(s2_cp) # return common elements from both the sets
new_set

set()

In [59]:
s = {1,2,3}
s1 = {5,6,7 , 2}
s.isdisjoint(s1) #return True if both sets doesnt contain any common element

False

In [60]:
s.remove(2)
s

{1, 3}

In [61]:
# The symmetric difference of two sets s and s1 is the set of elements that are in either s or s1, but not common elements.
s.symmetric_difference(s1)

{1, 2, 3, 5, 6, 7}

In [62]:
s.update(s1)
s

{1, 2, 3, 5, 6, 7}

# Dictionary

- Dictionary is a collection which is unordered , mutable
- values can be assecced using keys
- written using {}
- has key value pairs

In [63]:
A = dict()
type(A)

dict

In [64]:
B = {1 : "one" , 2:"two" , 3 :"three"}
B

{1: 'one', 2: 'two', 3: 'three'}

In [65]:
dic = {}
type(dic)

dict

In [66]:
B[1]

'one'

In [67]:
# looping over keys
for i in B.keys():
    print(i)

1
2
3

In [68]:
# looping over values
for i in B.values():
    print(i)

one
two
three

In [69]:
# can get both keys and values uisng items()
for i in B.items():
    print(i)

(1, 'one')
(2, 'two')
(3, 'three')

In [70]:
B.get(2) # get values for the specified key in get()

'two'

## adding key value to dict

In [71]:
B[4] = "four"
B

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

## Updating the dict

In [72]:
B[4] = {5:"five" , 6 :"six"}
B

{1: 'one', 2: 'two', 3: 'three', 4: {5: 'five', 6: 'six'}}

In [73]:
len(B)

4

## Nested Dict

In [74]:
# car_model = {car1:{X ,1990 } , car2 : {Y , 1987}}
car_model1  = {"mecedese " : 1990}
car_model2  = {"porche" : 1989}
car_model3  = {"hyundia " : 1976}

car_model = {"car1" : car_model1 , "car2" : car_model2 , "Car3" : car_model3}
car_model

{'car1': {'mecedese ': 1990},
 'car2': {'porche': 1989},
 'Car3': {'hyundia ': 1976}}

In [75]:
car_model["car2"]["porche"]

1989

In [76]:
car_model.values()

dict_values([{'mecedese ': 1990}, {'porche': 1989}, {'hyundia ': 1976}])

# Tuple

- Tuple is order , immutable (single value in tuples cant be changed)
- tuples can be used in such applications where defination exist only for once

In [81]:
tup = ()
type(tup)

tuple

In [82]:
tup1 = tuple()
type(tup1)

tuple

In [83]:
tup = (1,2,4,5,6,7 , 2,4)
tup.count(2) # return count of that value in tuple

2

In [84]:
tup.index(2) # return the first occurence of that given value

1